/*----------------------------------------------------------------------*/
/* Buttons
/*----------------------------------------------------------------------*/


button, a.btn, .button,
.dataTables_paginate span.paginate_button,
.dataTables_paginate span.paginate_active{
	border-color:#c7c7c7 #b2b2b2 #b2b2b2 #c7c7c7;
	text-shadow:0 1px 0 rgba(255,255,255,0.7);
	color:#555555;
	background-color:#e6e6e6;
	-webkit-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.6), inset 0 2px 5px rgba(255, 255, 255, 0.5), inset 0 -2px 5px rgba(0, 0, 0, 0.1);
	-moz-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.6), inset 0 2px 5px rgba(255, 255, 255, 0.5), inset 0 -2px 5px rgba(0, 0, 0, 0.1);
	box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.6), inset 0 2px 5px rgba(255, 255, 255, 0.5), inset 0 -2px 5px rgba(0, 0, 0, 0.1);
}
button.icon, a.btn.icon{
}
button{
}
a.btn{
}
button:hover, a.btn:hover, .button:hover,
.dataTables_paginate span.paginate_active:hover{
	background-color:#f1f1f1;
}
button:active, a.btn:active, .button:active,
.dataTables_paginate span.paginate_active{
	background-color:#f1f1f1;
	border-color:#b2b2b2 #c7c7c7 #c7c7c7 #b2b2b2;
	-webkit-box-shadow:inset 0 2px 1px rgba(0, 0, 0, 0.1);
	-moz-box-shadow:inset 0 2px 1px rgba(0, 0, 0, 0.1);
	box-shadow:inset 0 2px 1px rgba(0, 0, 0, 0.1);
}

button.red, a.btn.red, .button.red{
	background-color:#f0a8a8;
}
button.red:hover, a.btn.red:hover, .button.red{
	background-color:#f0cccc;
}
button.green, a.btn.green, .button.green{
	background-color:#43c416;
}
button.green:hover, a.btn.green:hover, .button.green:hover{
	background-color:#c5e8c5;
}
button.yellow, a.btn.yellow{
	background-color:#fafc5d;
}
button.yellow:hover, a.btn.yellow:hover{
	background-color:#fcfeb0;
}
button.blue, a.btn.blue, .button.blue{
	background-color:#a8f0f0;
}
button.blue:hover, a.btn.blue:hover, .button.blue{
	background-color:#ccf0f0;
}
button.pink, a.btn.pink{
	background-color:#f0a8f0;
}
button.pink:hover, a.btn.pink:hover{
	background-color:#f0ccf0;
}
button.purple, a.btn.purple{
	background-color:#aea8f0;
}
button.purple:hover, a.btn.purple:hover{
	background-color:#cfccf0;
}

button, a.btn, .button,
.dataTables_paginate span.paginate_button,
.dataTables_paginate span.paginate_active{
	border:1px solid;
	position:relative;
	padding:9px 12px;
	display:inline-block;
	cursor:pointer;
	background-repeat:no-repeat;
	background-position:4px 5px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	text-decoration:none;
	/*font-size:11px;*/
	font-weight:700;
	outline:0 none;
	text-align:center;
	text-transform:uppercase;
	margin:2px;
	min-height:22px;
	min-width:8px;
	white-space:pre-line;
	vertical-align:baseline;
}
button.small, a.btn.small, .button{
	height:16px !important;
	min-height: 16px;
	font-size:10px;
	padding:4px 7px;
}
button.big, a.btn.big{
	font-size:14px;
	padding:12px 16px;
}
button.icon, a.btn.icon{
	/*padding-left:27px;*/
}
button.small.icon, a.btn.small.icon{
	padding-left:23px;
	background-position:0 -2px;
}
button.big.icon, a.btn.big.icon{
	padding-left:27px;
	background-position:-0 8px;
}
a.btn.nt, button.nt{
	background-position:50% 50%;
	text-indent:-9999px;
}
a.btn.small.nt, button.small.nt{
	padding-left:12px;
	padding-right:12px;
}

a.btn{
	line-height:18px;
	min-height:18px;
}

button:active, a.btn:active,
.dataTables_paginate span.paginate_active{
	top:1px;
}


input.green, a.btn.green, .input.green{
	background-color:#43c416;
	cursor:pointer;
}
input.green:hover, a.btn.green:hover, .input.green:hover{
	background-color:#c5e8c5;
}

input{
	border:1px solid;
	padding:9px 12px;
	background-repeat:no-repeat;
	background-position:4px 5px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	text-decoration:none;
	
	margin:2px;
	min-height:22px;
	min-width:8px;
	white-space:pre-line;
	vertical-align:baseline;
}

/* ADD */
.i_plus{ background-image: url(icons/dark/plus.png);}
.i_preview{ background-image: url(icons/dark/preview.png);}
.i_trash{ background-image: url(icons/dark/trashcan_2.png);}